/* //////////////////////////////////////////////////     GÉNÉRAL      ////////////////////// */

:root { 
	--color-base: #D9ADD6;
    --color-gris-clair: #D9D9D9;
    --color-gris: #979797;
    --color-sombre: #4A4C50;
    --color-noir: #000;
    --color-bleu: #576D8B;
    --color-bleu-clair: #576d8b87;
    --color-bleu-sombre: #102940;
}


/* //////// -----------     FONT     ---------- */

@font-face {
    font-family: 'homeday';
    src: url('../assets/fonts/homeday/homeday-webfont.woff2') format('woff2'),
         url('../assets/fonts/homeday/homeday-webfont.woff') format('woff'),
         url('../assets/fonts/homeday/homeday.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


/* //////// -----------     BASE     ---------- */

html {
    font-size: 16px;
    font-family: 'Roboto', 'san-serif';
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
}

main {  width: 100%;    }

.container {
    width: 100%;
    max-width: 1260px;
    padding: 0;
    margin: 0 auto;
}

h1 {
    font-family: 'Homeday', 'roboto', 'sans-serif';
    font-size: 5rem;
    color: var(--color-base);
    margin: 0;
    font-weight: 100;
}

h2 {
    font-family: 'Homeday', 'roboto', 'sans-serif';
    font-size: 3rem;
    color: var(--color-base);
    margin: 0;
    font-weight: 100;
}

h3 {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    color: var(--color-sombre);
    margin: 0;
}

h4 {
    font-family: 'Roboto', 'sans serif';
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    color: var(--color-gris);
    margin: 10px 0;
}

button {
    padding: 12px 20px;
    border-radius: 4px;
}

.container  {
    display: flex;
    flex-direction: column;
}

.container-texte {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section {
    margin: 40px 0;
}

/* //////////////////////////////////////////////////     HEADER / NAV      ////////////////////// */

header {
    width: 100%;   
    height: auto;
    margin-bottom: 70px;
    z-index: 5;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 15px 0px;
}

nav .container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    max-width: 140px;
}

nav #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    margin: 15px 0;
}

nav ul {
	list-style-type: none;
	display:flex;
    float: right;
    margin: 0 25px;
    padding: 0;
}

nav li {
    padding: 10px 20px;
}

nav li a {
    color: var(--color-bleu);
    text-decoration: none;
    font-size: 1.4rem;
}

nav.font-white li a {
    color: white;
}

nav li a:hover {
    color: var(--color-rose);
    text-decoration: none;
}

nav .menu-button, .contenu-banner a { 
    padding: 12px 20px;
    border-radius: 4px;
    color: white;
    background-color: var(--color-base);
    text-decoration: none;
}

.container-banner {
    position: relative;
    width: 100%; 
    overflow: hidden;
}

#page-home .container-banner {   
    padding-top: 56.25%; 
    background: url('../assets/images/banniere.png'); 
    background-size: cover;   
}

#page-clickcollect .container-banner {
    padding-top: 10%; 
}

.contenu-banner {
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 60px 0;
}

.contenu-banner h1 {
    color:white;
}

.contenu-banner a {
    font-size: 2rem;
    margin-top: 20px;
}


/* //////////////////////////////////////////////////     HOMEPAGE      ////////////////////// */

#partie-resto .container  {
    flex-direction: row;
    gap: 74px;
}

#partie-resto img {
    max-width: 446px;
}

#partie-resto a {
    display: block;
    margin-top: 30px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-bleu-sombre);
}

#partie-resto a:hover {
    color: var(--color-base);
}

/* //////// -----------      CAROUSEL     ---------- */

#partie-burger .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#partie-burger p {
    font-size: 1.8rem;
}

.wrapper-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carousel {
    width: 670px; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.wrapper-carousel .container-img {
    width: 210px;
    height: 210px;
    max-width: 210px;
    max-height: 210px;
    object-fit: cover;
    user-select: none;
}

.wrapper-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper-carousel h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-top :10px;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }

.carousel.dragging .container-img {
    pointer-events: none;
}

/* //////// -----------     ACTUALITÉ     ---------- */

#partie-actu header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#partie-actu h2 {
    text-align: center;
}

#partie-actu header div {
    border-top: 4px dashed var(--color-bleu);
    width: 42%;
    height: 0px;
}

.container-grid {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.container-grid .child-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-grid .child-grid img {
    width: 100%;
    max-width: 378px;
}

.container-grid .child-grid h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.container-grid p {
    font-size: 1rem;
    margin: 10px 8px;
    text-align: center;
}

.container-grid .child-grid button {
    background-color: var(--color-sombre);
    color: white;
}

/* //////// -----------     NEWSLETTER     ---------- */

#partie-bloc {
    background-color: var(--color-gris-clair);
    margin: 0;
    padding: 50px 0;
}

#partie-bloc .container .container-bloc {
    margin: 0 50px;
    background-color: var(--color-bleu);
    border-radius: 7px;
    padding: 30px 25px;
}

#partie-bloc .container form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#partie-bloc .container form div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#partie-bloc .container .newsletter-input {
    display: flex;
    flex-direction: row;
}

#partie-bloc .container form .newsletter-input input {
    max-width: 415px;
    min-width: 300px;
    width: 100%;
    height: 70px;
    border-radius: 4px;
    border: none;
}

#partie-bloc .container form .newsletter-input input::placeholder {
    text-align: right;
    padding: 0 20px;
    font-size: 1.1rem;
    color: var(--color-gris-clair);
}

#partie-bloc .container form .newsletter-input button {
    width: 80px;
    height: 72px;
    background-color: var(--color-base);
    border: none;
}

#partie-bloc .container form .newsletter-input button i {
    font-size: 1.8rem;
    color: white; 
}

#partie-bloc h2 {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    font-weight: 300;
    
}

#partie-bloc label {
    font-size: 2rem;
    color: white;
    width: 45%;
}

#partie-social-media {
    display: flex;
    flex-direction: column;
}

#partie-social-media i {
    font-size: 50px;
    margin: 5px;
}

/* //////////////////////////////////////////////////     CLICK & COLLECT      ////////////////////// */

#partie-clickcollect > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto 40px;
    text-align: center;
}

#page-clickcollect h2 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-sombre)
}

#page-clickcollect p {
    font-size: 1.6rem;
}


/* --------------------------------- SELECTION ------------ */

#page-clickcollect .container-selection  {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#page-clickcollect .container-selection .child-item {
    width: 90px;
    height: 90px;
    border-radius: 14px;
    padding: 14px;
    background-color: var(--color-bleu-clair);
}

#page-clickcollect .container-selection .child-item .container-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--color-gris-clair);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 6px 10px -5px #000000; 
    box-shadow: 0px 6px 10px -5px #000000;
}

#page-clickcollect .form-commencer {
    align-items: center !important;
    justify-content: center !important;
}

#form-navigation {
    display: flex;
    align-items: center;
}

.button-menu {
    width: 100%;
    max-width: 456px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--color-base);
    border: 0px solid var(--color-bleu);
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-size: 2rem;
    transition: background-color 0.1s ease-in, 
                border 0.1s ease-in, 
                border-radius 0.1s ease-in;
}

.button-menu:hover {
    border: 8px solid var(--color-bleu);
    border-radius: 20px;
}

.button-menu:active {
    background-color: var(--color-bleu-sombre);
}

#section-nav {      margin: 0;     }



/* --------------------------------- FORMULAIRE ------------ */

#form-clickcollect {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

#form-clickcollect .form-menu {
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: height 0.4s ease-in;
}

#form-clickcollect .form-menu.active {
    height: 1120px;
}

#form-clickcollect .container {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

#form-clickcollect .container>div:first-child {
    width: 50%;
}

#form-clickcollect .container div:nth-child(2) {
    text-align: right;
}

#form-clickcollect .container h3 {
    font-family: 'homeday', sans-serif;
    font-size: 2.4rem;
    color: var(--color-base);
}

#form-clickcollect .form-menu .produit {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 5px dashed var(--color-bleu);
    transform: translateX(-1200px);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.1s ease-in;
}

#form-clickcollect .form-menu.active .produit {
    opacity: 1;
    transform: translateX(0);
}

#form-clickcollect .form-menu .produit .container-img {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 14px;

    -webkit-box-shadow: 0px 28px 0px -10px var(--color-bleu-clair), 0px -28px 0px -10px var(--color-bleu-clair); 
    box-shadow: 0px 28px 0px -10px var(--color-bleu-clair), 0px -28px 0px -10px var(--color-bleu-clair) ;
}

#form-clickcollect .produit img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#form-clickcollect .produit input[type="radio"] {
    width: 35px;
    height: 35px;
    border: 6px solid var(--color-bleu);
}

#form-clickcollect .produit input[type="radio"]:checked {
    border: 6px solid var(--color-bleu);
    background-color: var(--color-bleu);
}

#form-clickcollect .produit p, #form-clickcollect .produit h2 {
    width: 30%;
    text-align: center;
}

#form-clickcollect .produit .prix {
    width: 80px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-gris-clair);
    color: var(--color-sombre);
    font-size: 1.4rem;
}

#partie-menu.active {
    display: block;
}

/* //////////////////////////////////////////////////     FOOTER      ////////////////////// */

footer {
    width: 100%;
    background: var(--color-bleu-sombre);
    color: white;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0;
}

footer ul {
    list-style-type: none;    
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}