/* //////////////////////////////////////////////////     GÉNÉRAL      ////////////////////// */

:root { 
	--color-base: #D9ADD6;
    --color-gris: #979797;
    --color-sombre: #4A4C50;
    --color-noir: #000;
}


/* //////// -----------     FONT     ---------- */

@font-face {
    font-family: 'homeday';
    src: url('assets/fonts/homeday/homeday-webfont.woff2') format('woff2'),
         url('assets/fonts/homeday/homeday-webfont.woff') format('woff'),
         url('assets/fonts/homeday/homeday.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


/* //////// -----------     BASE     ---------- */

html {
    font-size: 16px;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
}

main {  width: 100%;    }

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
}

h1 {
    font-family: 'Homeday', 'roboto', 'sans-serif';
    font-size: 3rem;
    color: var(--color-base);
}

h2 {
    font-family: 'Homeday', 'roboto', 'sans-serif';
    font-size: 3rem;
    color: var(--color-base);
}

h3 {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    color: var(--color-sombre);
}

p {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    color: var(--color-gris);
}

button {
    padding: 12px 20px;
    border-radius: 4px;
}

.container  {
    display: flex;
    flex-direction: column;
}

.container-texte {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


/* //////////////////////////////////////////////////     HEADER / NAV      ////////////////////// */

header {
    width: 100%;   
    height: auto;
    margin-bottom: 0;
    z-index: 5;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 15px 0px;
}

nav .container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}

nav img {
    max-width: 140px;
}


nav ul {
	list-style-type: none;
	display:flex;
    float: right;
    margin: 0 25px;
    padding: 0;
}

nav li {
    padding: 10px 20px;
}

nav li a {
    color: var(--color-clair);
}

nav li a:hover {
    color: var(--color-rose);
    text-decoration: none;
}

.container-banner {
    position: relative;
    width: 100%; 
    padding-top: 56.25%; 
    overflow: hidden;
}

#page-home .container-banner {   background: url('assets/images/banniere.png'); background-size: cover;   }


/* //////////////////////////////////////////////////     HOMEPAGE      ////////////////////// */

#partie-resto .container  {
    flex-direction: row;
}

#partie-resto img {
    max-width: 446px;
}

/* //////// -----------     ACTUALITÉ     ---------- */

.container-grid {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-grid .child-grid img {
    max-width: 378px;
}

.container-grid p {
    font-size: 1rem;
}

