/* //////////////////////////////////////////////////     GÉNÉRAL      ////////////////////// */

:root { 
	--color-base: #D9ADD6;
    --color-gris-clair: #D9D9D9;
    --color-gris: #979797;
    --color-sombre: #4A4C50;
    --color-noir: #000;
    --color-bleu: #576D8B;
    --color-bleu-sombre: #102940;
}


/* //////// -----------     FONT     ---------- */

@font-face {
    font-family: 'homeday';
    src: url('assets/fonts/homeday/homeday-webfont.woff2') format('woff2'),
         url('assets/fonts/homeday/homeday-webfont.woff') format('woff'),
         url('assets/fonts/homeday/homeday.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


/* //////// -----------     BASE     ---------- */

html {
    font-size: 16px;
    font-family: 'Roboto', 'san-serif';
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
}

main {  width: 100%;    }

.container {
    width: 100%;
    max-width: 1260px;
    padding: 0;
    margin: 0 auto;
}

h1 {
    font-family: 'Homeday', 'roboto', 'sans-serif';
    font-size: 3rem;
    color: var(--color-base);
    margin: 0;
}

h2 {
    font-family: 'Homeday', 'roboto', 'sans-serif';
    font-size: 3rem;
    color: var(--color-base);
    margin: 0;
}

h3 {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    color: var(--color-sombre);
    margin: 0;
}

h4 {
    font-family: 'Roboto', 'sans serif';
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    color: var(--color-gris);
}

button {
    padding: 12px 20px;
    border-radius: 4px;
}

.container  {
    display: flex;
    flex-direction: column;
}

.container-texte {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section {
    margin: 40px 0;
}

/* //////////////////////////////////////////////////     HEADER / NAV      ////////////////////// */

header {
    width: 100%;   
    height: auto;
    margin-bottom: 0;
    z-index: 5;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 15px 0px;
}

nav .container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    max-width: 140px;
}

nav #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    margin: 15px 0;
}

nav ul {
	list-style-type: none;
	display:flex;
    float: right;
    margin: 0 25px;
    padding: 0;
}

nav li {
    padding: 10px 20px;
}

nav li a {
    color: var(--color-bleu);
    text-decoration: none;
    font-size: 1.4rem;
}

nav.font-white li a {
    color: white;
}

nav li a:hover {
    color: var(--color-rose);
    text-decoration: none;
}

nav .menu-button { 
    padding: 12px 20px;
    border-radius: 4px;
    color: white;
    background-color: var(--color-base);
}

.container-banner {
    position: relative;
    width: 100%; 
    overflow: hidden;
}

#page-home .container-banner {   
    padding-top: 56.25%; 
    background: url('assets/images/banniere.png'); 
    background-size: cover;   
}

#page-clickcollect .container-banner {
    padding-top: 10%; 
}


/* //////////////////////////////////////////////////     HOMEPAGE      ////////////////////// */

#partie-resto .container  {
    flex-direction: row;
    gap: 74px;
}

#partie-resto img {
    max-width: 446px;
}

/* //////// -----------     ACTUALITÉ     ---------- */

.container-grid {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-grid .child-grid img {
    max-width: 378px;
}

.container-grid p {
    font-size: 1rem;
}

/* //////// -----------     NEWSLETTER     ---------- */

#partie-bloc {
    background-color: var(--color-gris-clair);
    margin: 0;
    padding: 50px 0;
}

#partie-bloc .container .container-bloc {
    margin: 0 50px;
    background-color: var(--color-bleu);
    border-radius: 7px;
    padding: 30px 25px;
}

#partie-bloc .container form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#partie-bloc .container form div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#partie-bloc .container .newsletter-input {
    display: flex;
    flex-direction: row;
}

#partie-bloc .container form .newsletter-input input {
    width: 415px;
    height: 70px;
}

#partie-bloc .container form .newsletter-input button {
    width: 80px;
    height: 77px;
}

#partie-bloc h2 {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
    font-weight: 300;
}

#partie-bloc label {
    font-size: 2rem;
    color: white;
    width: 45%;
}

#partie-social-media {
    display: flex;
    flex-direction: column;
}

#partie-social-media i {
    font-size: 50px;
    margin: 5px;
}

/* //////////////////////////////////////////////////     CLICK & COLLECT      ////////////////////// */

#partie-clickcollect .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}

#page-clickcollect h1 {
    font-size: 5rem;
}

#page-clickcollect h2 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-sombre)
}

#page-clickcollect p {
    font-size: 1.6rem;
}

#page-clickcollect .form-commencer {
    align-items: center !important;
    justify-content: center !important;
}

#button-clickcollect {
    width: 456px;
    height: 90px;
    background-color: var(--color-base);
    border: 0px solid;
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-size: 2rem;
}

#form-clickcollect {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

#form-clickcollect .produit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form-clickcollect .produit .container-img {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
    overflow: hidden;
}

#form-clickcollect .produit img {
    width: 100%;
}

/* //////////////////////////////////////////////////     FOOTER      ////////////////////// */

footer {
    width: 100%;
    background: var(--color-bleu-sombre);
    color: white;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0;
}

footer ul {
    list-style-type: none;    
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}